{
	"root": true,

	"extends": "@ljharb/eslint-config/node/12",

	"ignorePatterns": [
		"test/fixtures/**",
	],

	"rules": {
		"array-bracket-newline": 0,
		"func-style": 1,
		"max-len": 0,
		"max-lines-per-function": [2, 100],
		"max-lines": 0,
		"max-params": [2, 6],
		"max-nested-callbacks": [2, 4],
		"object-curly-newline": 0,
	},

	"overrides": [
		{
			"files": [
				"./checkCurrent.js",
			],
			"rules": {
				"no-throw-literal": 0,
			},
		},
		{
			"files": "./getLatestMajors.js",
			"rules": {
				"no-param-reassign": [2, { "props": false }],
			},
		},
		{
			"files": "test/**",
			"rules": {
				"max-params": 0,
			},
		},
	],
}
