{
	"root": true,

	"extends": "@ljharb",

	"parserOptions": {
		"ecmaVersion": "2020",
	},

	"env": {
		"es6": true,
	},

	"rules": {
		"comma-dangle": [2, "always-multiline"],
		"dot-notation": [2, { "allowKeywords": true }],
		"object-shorthand": [2, "always"],
		"operator-linebreak": [2, "before"],
	},
}
