name: 'Tests: node.js >= 14'

on: [pull_request, push]

jobs:
  tests:
    uses: ljharb/actions/.github/workflows/node.yml@main
    with:
      range: '>= 19 || ^18 || ^16.13 || ^14.17'
      type: minors
      command: npm run tests-only

  node:
    name: 'node >= 14'
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - run: 'echo tests completed'
