name: 'Tests: node.js >= 22'

on: [pull_request, push]

jobs:
  tests:
    uses: ljharb/actions/.github/workflows/node.yml@main
    with:
      range: '^22.21 || ^24.12 || >= 25.2'
      type: minors
      command: npm run tests-only

  node:
    name: 'node >= 22'
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - run: 'echo tests completed'
